/* navbar */
.navbar {
    background: linear-gradient(to right, rgb(47, 18, 2), #f36f23,  rgb(233, 138, 61));
    height: 90px;
    margin-bottom: 0;
    color: white;
}

/* banner */

#banner-section{
    background: url("/static/img/banner-background.jpg") 50% 0 no-repeat fixed;
    color: white;
    text-align: center;
    height: 900px;
    padding: 100px 0 0 0;  
}
#counter-section{
    background: url("/static/img/banner-4.jpg") 50% 0 no-repeat fixed;
    color: white;
    text-align: center;
    height: 400px;
    padding: 100px 0 0 0;  
    opacity: 1;
}
#contact-section{
    background: url("/static/img/banner-4.jpg") 50% 0 no-repeat fixed;
    color: white;
    text-align: center;
    height: 800px;
    padding: 100px 0 0 0;  
    opacity: 1;
}
#detail-section {
    background: url("/static/img/banner-4.jpg") 50% 0 no-repeat fixed;
    height: 800px;
    color: white;
    padding: 100px 0 0 0;  
    opacity: 1;
}
/* testimonial */


footer {
    background-color: black;
    font-size: 1.2rem;
    opacity: 0.99;
}

