{% extends 'base.html' %}
{% load static %}
{% block title %}home{% endblock %}
{% block content %}
<!-- banner -->

<div class="container-fluid" id="banner-section">
    <div class="banner-header">
        <h1 class="display-1 fw-bolder">
            I AM EPHREM
        </h1>
    </div>
    <div class="banner text">
        <h4 class="display-6 fw-bolder">
            Full stack developer
        </h4>
    </div>
    <div class="banner-button">
        <a href="{% url 'port:contact' %}"><button type="button" class="btn btn-primary btn-lg m-2 px-5 py-2 fw-bolder">Contact</button></a>
        <a href="{{ profile.resume.url }}" download="{{ profile.resume.url }}"><button type="button" class="btn btn-outline-danger btn-lg m-2 px-3 py-2 fw-bolder">Download Resume</button></a>
    </div>
</div>
<!-- main -->
<div class="container main-section my-4">
    <!-- main-header -->
    <div class="header">
        <h1 class="display-2 fw-bolder text-center my-5">
            MY WORK
        </h1>
    </div>
    <!-- main-detail -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for portfolio in portfolios %}
        <div class="col">
            <div class="card">
                <a href="{{ portfolio.get_absolute_url }}"><img src="{{ portfolio.image.url }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a class="nav-link fs-5 px-0 text-center" href="{{ portfolio.get_absolute_url }}"><h5 class="card-title">{{ portfolio.name }}</h5></a> 
                    <ul class="text-center">
                        <a href="{{ portfolio.github_link }}" class="nav-link d-inline fs-2 px-5"><li class="nav-item d-inline"><i class="icon-github-sign"></i></li></a>
                        <a href="{{ portfolio.website_link }}" class="nav-link d-inline fs-2 px-5"><li class="nav-item d-inline"><i class="icon-dribbble"></i></li></a>
                        <a href="{{ portfolio.get_absolute_url }}" class="nav-link d-inline fs-2 px-5"><li class="nav-item d-inline"><i class="icon-plus-sign"></i></li></a>
                    </ul>
                </div>
            </div>
        </div>
        {% empty %}
        <h3>No portfolio at this time </h3>
        {% endfor %}
    </div>
</div>

<!-- about -->
<div class="container my-4">
    <div class="header">
        <h1 class="display-2 fw-bolder text-center my-5">
            ABOUT
        </h1>
    </div>
</div>

<div class="container">
    <div class="row my-3">
        <div class="col-lg-7 col-md-12 col-sm-12 py-3">
            <img class="rounded float-start" src="{% static 'img/profile1.jpg' %}" alt="" style="max-width: 80% ;">
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="about-info text-center-justify my-3 py-5">
                <p class="fs-5 fw-bolder"><span>Name: </span> <span>{{ profile.first_name }}
                        {{ profile.last_name }}</span></p>
                <p class="fs-5 fw-bolder"><span>Profile: </span> <span>{{ profile.profession }}</span></p>
                <p class="fs-5 fw-bolder"><span>Email: </span> <span>{{ profile.email}}</span></p>
                <p class="fs-5 fw-bolder"><span>Phone: </span> <span>{{ profile.phone}}</span></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-5">
            <h3 class="my-3">Skill</h3>
            <div class="mb-2">
                {% for skill in skills %}
                <span>{{ skill.name|upper }}</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        style="width: {{ skill.rate }}%;" aria-valuenow="{{ skill.rate }}" aria-valuemin="0"
                        aria-valuemax="100">{{ skill.rate }}</div>
                </div>
                {% empty %}
                <p>No skill listed here</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-6 col-md-7">
            <div class="about-me pt-4 pt-md-0">
                <p class="lead">
                    Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur
                    arcu erat, accumsan id
                    imperdiet et, porttitor
                    at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                    Nulla
                    porttitor accumsan tincidunt.
                </p>
                <p class="lead">
                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit
                    tortor eget felis
                    porttitor volutpat. Vestibulum
                    ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.
                </p>
                <p class="lead">
                    Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in,
                    elementum id enim.
                    Nulla porttitor accumsan
                    tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                </p>
            </div>
        </div>

    </div>
</div>

<!-- counter -->

<div class="container">
    <h1 class="display-3 fw-bolder text-center my-5">
        EXPERIENCE
    </h1>
</div>
<div class="container-fluid" id="counter-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 fw-bolder">
                <p class="py-3 fs-4">{{ portfolios|length }}</p>
                <p class="lead fs-4 fw-bolder">
                    WORKS COMPLETED
                </p>

            </div>
            <div class="col-sm-3 col-lg-3">
                <p class="py-3 fs-4">{{ profile.experience }}</p>
                <p class="lead fs-4 fw-bolder">
                    YEARS OF EXPERIENCE
                </p>

            </div>
        </div>
    </div>
</div>
<!-- End Counter Section -->

<!-- testimonial -->
<div class="container">
    <h1 class="display-3 fw-bolder text-center my-5">
        TESTIMONIALS
    </h1>
</div>
<div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000" style="background-color:rgb(38, 107, 218); height:30rem;">
            <div class="carousel-caption d-md-block text-white" style="position: absolute; bottom: 100px;">
                <img src="{{ testimonial1.image.url }}" class="w-20" alt="..." style="width: 16rem; border-radius:50%">
                <h5 class="fs-5">{{ testimonial1.first_name }}</h5>
                <p class="lead">{{ testimonial1.body }}</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000" style="background-color:rgb(38, 107, 218); height:30rem; ">
            <div class="carousel-caption d-md-block text-white" style="position: absolute; bottom: 100px;">
                <img src="{{ testimonial2.image.url }}" class="w-20" alt="..." style="width: 16rem; border-radius:50%">
                <h5 class="fs-5">{{ testimonial2.first_name }}</h5>
                <p class="lead">{{ testimonial2.body }}</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- End Testimonials Section -->
<!-- contact -->
<div class="container">
    <h1 class="display-3 fw-bolder my-5 text-center">
        CONTACT ME
    </h1>
</div>
<div class="container-fluid" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <form action="{% url 'port:contact' %}" method="post" class="text-light fw-bolder fs-6 text-uppercase">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group text-start">
                                {{ form.as_p }}
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg m-3 px-4 py-2 fw-bolder">Send
                                        Message</button>
                                </div>
                                {% csrf_token %}
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="pt-4 pt-md-0">
                    <h5 class="">
                        Get in Touch
                    </h5>
                </div>
                <div class="more-info">
                    <p class="lead text-start">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolorum
                        dolorem soluta quidem
                        expedita aperiam aliquid at.
                        Totam magni ipsum suscipit amet? Autem nemo esse laboriosam ratione nobis
                        mollitia inventore?
                    </p>
                    <div class="container col-sm-11 col-md-11 col-lg-10 p-3"></div>
                    <div class="mb-2 text-light text-start">
                        <div class="d-inline pr-5"></div>
                        <div class="d-inline p-2 fs-5">{{ profile.address }}</div>
                    </div>
                    <div class="mb-2 text-light text-start =">
                        <div class="d-inline pr-5"></div>
                        <div class="d-inline p-2 fs-5">{{ profile.phone }}</div>
                    </div>
                    <div class="mb-2 text-light text-start">
                        <div class="d-inline pr-5"></div>
                        <div class="d-inline p-2 fs-5">{{ profile.website }}</div>
                    </div>

                    <div class="socials text-start">
                        <ul class="list-inline">
                            <li class="list-inline-item px-3"><a class="nav-link" href="{{ profile.website }}"></a></li>
                            <li class="list-inline-item px-3"><a class="nav-link" href="{{ profile.github }}"></a>
                            </li>
                            <li class="list-inline-item px-3"><a class="nav-link" href=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Contact Section -->



{% endblock %}