{% extends 'base.html' %}
{% load static %}

{% block title %}work{% endblock %}

{% block content %}

<!-- main -->
<div class="container main-section my-4">
    <!-- main-header -->
    <div class="header">
        <h1 class="display-2 fw-bolder text-center my-5">
            MY WORK
        </h1>
    </div>
    <!-- main-detail -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for portfolio in portfolios %}
        <div class="col">
            <div class="card">
                <a href="{{ portfolio.get_absolute_url }}"><img src="{{ portfolio.image.url }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a class="nav-link fs-5 px-0 text-center" href="{{ portfolio.get_absolute_url }}"><h5 class="card-title">{{ portfolio.name }}</h5></a> 
                    <ul class="text-center">
                        <a href="{{ portfolio.github_link }}" class="nav-link d-inline fs-2 px-5"><li class="nav-item d-inline"><i class="icon-github-sign"></i></li></a>
                        <a href="{{ portfolio.website_link }}" class="nav-link d-inline fs-2 px-5"><li class="nav-item d-inline"><i class="icon-dribbble"></i></li></a>
                        <a href="{{ portfolio.get_absolute_url }}" class="nav-link d-inline fs-2 px-5"><li class="nav-item d-inline"><i class="icon-plus-sign"></i></li></a>
                    </ul>
                </div>
            </div>
        </div>
        {% empty %}
        <h3>No portfolio at this time </h3>
        {% endfor %}
    </div>
</div>



{% endblock %}